<mat-toolbar color="primary">
  <span (click)="navigateToAssociation()">IRS Beneficia</span>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateToAssociation()">
      <mat-icon>apps</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item (click)="navigateToAbout()">
      <mat-icon>people_outline</mat-icon>
      <span>Sobre</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>device_hub</mat-icon>
      <span>github</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
